/* body {
    min-height: 100vh;
    padding: 15vh 0 10vh 0;
    background-color: var(--dark-blue);
    color: var(--white);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto) 1fr;
    grid-template-areas: 
    "header"
    "h1"
    "searchChampion"
    "championsHomeList"
    ;
    gap: 5rem;
}

header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--light-blue);
}

h1 {
    grid-area: h1;
    text-align: center;
    font-size: 4em;
}
h2 {
    text-align: center;
    background-color: var(--darker-blue);
    border: 2px solid var(--grey);
}
ul {
    list-style: none;
}
li {
    border: 2px solid var(--grey);
    
}
a {
    text-decoration: none;
    color: var(--white);
}

#search-champion {
    grid-area: searchChampion;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#search-champion #search-champion-input {
    padding: 2rem 4rem;
    font-size: 2em;
    border-radius: var(--rd);
    border: none;
}

#search-champion-input:focus {
    outline: var(--ot);
}

#champions-suggestions {
    height: 15vh;
    width: 25vw;
    padding: 0rem 4rem;
    overflow: auto;
    background-color: var(--darker-blue);
    cursor: pointer;
}

#champions-suggestions::-webkit-scrollbar {
    width: 0px;
}

#champions-suggestions #champions-suggestions-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
}

#champions-suggestions #champions-suggestions-list li:hover {
    background-color: var(--hover-blue);
    transition: var(--tr);
}

#champions-suggestions #champions-suggestions-list li a {
    color: var(--white);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5em;
    padding: 1rem;
    width: 20vw;
    border: 1px solid var(--grey);
    border-radius: var(--rd);
}

#champions-suggestions #champions-suggestions-list li a img {
    width: 3rem;
}

#champions-home-list li:hover a img{
    scale: 1.2;
    transition: var(--tr);
}

#champions-home-list {
    grid-area: championsHomeList;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
    padding: 0 15vw;
}

#champions-home-list li {
    overflow: hidden;
    width: 15%;
    border-radius: var(--rd);
}

#champions-home-list li img {
    scale: 1;
    width: 100%;
    transition: var(--tr);
    border-radius: var(--rd);
} */
